.architectural-wrapper {
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.architectural-wrapper > p {
  font-size: 20px;
  width: 50%;
}

.services-video {
  width: 480px;
  height: 270px;
}
