:root {
  --primary: white;
}

.btn {
  padding: 9px 20px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background: linear-gradient(#0B41C4, #1256CC);
  color: rgb(251, 249, 249);
  /* border: 2px solid rgb(28, 18, 162); */
}

.btn--outline-nav {
  background: linear-gradient(#0B41C4, #1256CC);
  color: rgb(251, 249, 249);
  padding: 9px 20px;
  /* border: 2px solid rgb(28, 18, 162); */
  transition: all 0.3s ease-out;
}

.btn--outline {
  background: linear-gradient(#0B41C4, #1256CC);
  color: rgb(251, 249, 249);
  padding: 9px 20px;
  /* border: 2px solid rgb(28, 18, 162); */
  transition: all 0.3s ease-out;
}

.btn-medium {
  padding: 9px 20px;
  font-size: 20px;
}

.btn--large {
  padding: 13px 26px;
  font-size: 20px;
}

.btn--medium:hover,
.btn--large:hover {
  background: white;
  color: #242424;
  transition: all 0.3s ease-out;
}
