:root {
  --primary: white;
}

.btn {
  padding: 9px 20px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background: linear-gradient(#5972f0, #2240e8);
  color: rgb(251, 249, 249);
  border: 1px solid black;
}

.btn--outline-nav {
  background: linear-gradient(#5972f0, #2240e8);
  color: rgb(251, 249, 249);
  padding: 9px 20px;
  border: 1px solid black;
  transition: all 0.3s ease-out;
}

.btn--outline {
  background: linear-gradient(#5972f0, #2240e8);
  color: rgb(251, 249, 249);
  padding: 9px 20px;
  border: 1px solid black;
  transition: all 0.3s ease-out;
}

.btn-medium {
  padding: 9px 20px;
  font-size: 20px;
}

.btn--large {
  padding: 13px 26px;
  font-size: 20px;
}

.btn--medium:hover,
.btn--large:hover {
  background: white;
  color: #242424;
  transition: all 0.3s ease-out;
}
