.contact-container {
  display: flex;
  margin: 50px;
  gap: 50px;
  margin-top: 150px;
  flex-wrap: wrap;
  justify-content: center;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 400px;
  font-size: 16px;
  color: white;
  justify-content: center;
  background-color: black;
  border-radius: 5px;
  padding: 20px;
  min-width: 450px;
}

input {
  width: 90%;
  height: 35px;
  outline: none;
  border-radius: 5px;
  border: 1px solid white;
}

.form-button {
  margin-top: 15px;
  color: rgb(174, 86, 4);
}

input:focus {
  border: 2px solid rgb(174, 86, 4);
}

textarea {
  min-height: 100px;
  width: 90%;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: 1px solid white;
}

textarea:focus {
  border: 2px solid rgb(174, 86, 4);
}

.contact-container > p {
  font-size: 35px;
  width: 40%;
  min-width: 400px;
}

label {
  margin-top: 1rem;
}
