.footer-container {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: "Montserrat", sans-serif;
  color: black;
  height: 100%;
  white-space: normal;
  overflow: hidden;
}

.footer-container h3 {
  text-decoration: underline;
}

.footer-link-items-one {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  text-decoration: none;
  list-style: none;
  color: black;
  margin-top: 50px;
}

.footer-links {
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.footer-link-items-two {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  text-decoration: none;
  list-style: none;
  margin-top: 50px;
}

p {
  font-size: 18px;
}

.logo {
  width: 9vw;
  height: 12vh;
  padding: 5px;
  min-width: 135px;
  min-height: 70px;
  margin: 0;
}

.footer-link-items-three {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 20px;
}
