.benefits-wrapper {
    display: flex;
    justify-content: space-around;
}

.growth-img {
  width: 45%;
  height: 450px;
}

.benefits-explained {
  width: 40%;
  line-height: 2;
  justify-content: center;
  align-items: left;
}

/* .benefits__items {
  border: 1px white solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: white;
  background-color: rgb(136, 52, 7);
  margin-bottom: 100px;
} */
