.benefits-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.growth-img {
  width: 45%;
  height: 400px;
  opacity: 0.7;
}

/* .benefits__items {
  border: 1px white solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: white;
  background-color: rgb(136, 52, 7);
  margin-bottom: 100px;
} */
