* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.portfolio,
.services,
.about-us,
.contact-us,
.architectural {
  display: flex;
  height: 30vh;
  align-items: center;
  justify-content: center;
}

.services {
  background-image: url("/Users/JBMSH/repos/sundiver-solutions-site/public/images/james-day-5YWf-5hyZcw-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.portfolio {
  background-image: url("/Users/JBMSH/repos/sundiver-solutions-site/public/images/james-day-5YWf-5hyZcw-unsplash.jpg");
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.contact-us {
  background-color: black;
}

.about-us {
  background-image: url("/Users/JBMSH/repos/sundiver-solutions-site/public/images/james-day-5YWf-5hyZcw-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.architectural {
  /* background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff; */
  font-size: 40px;
}

.website {
  background-image: url("/Users/JBMSH/repos/sundiver-solutions-site/public/images/james-day-5YWf-5hyZcw-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.software {
  background-image: url("/Users/JBMSH/repos/sundiver-solutions-site/public/images/james-day-5YWf-5hyZcw-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 200px;
}

.services-wrap > p {
  padding-top: 50px;
  width: 100vh;
  display: flex;
  margin: auto;
}

.form-intro {
  display: flex;
  padding: 50px;
  margin: auto;
  width: 100vh;
}
